@model IEnumerable<ClinicManagement.Models.Supply>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupplyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplyType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupplyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplyType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SupplyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SupplyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SupplyID })
        </td>
    </tr>
}

</table>
